<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>149111265904-2rtjmiqpju8i9uecd2ru3s5j7id9255s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDLeeQ8O476JbUEI7wobgBOnfd8jxx7fLs</string>
	<key>GCM_SENDER_ID</key>
	<string>149111265904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emddi.mailinhnghean</string>
	<key>PROJECT_ID</key>
	<string>emddi2021</string>
	<key>STORAGE_BUCKET</key>
	<string>emddi2021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149111265904:ios:9515411a45bcd66beef2b5</string>
	<key>DATABASE_URL</key>
	<string>https://emddi2021-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>