<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83013827385-2iasai4ljvf6igooup8t7d5hb162ks82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83013827385-2iasai4ljvf6igooup8t7d5hb162ks82</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>83013827385-5fa0c2pdaitg44ckke3hcibf2up0rugl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBPqPOr6dIQuWUD4UX4t8tvEktqlFg2Ye8</string>
	<key>GCM_SENDER_ID</key>
	<string>83013827385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emddi.phonui</string>
	<key>PROJECT_ID</key>
	<string>emddi-customer-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>emddi-customer-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83013827385:ios:8b4ab162b16a7bfbc486e8</string>
</dict>
</plist>