<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_POu_qhsM7fbi41sOP3wUYK2I-7te-uM</string>
	<key>GCM_SENDER_ID</key>
	<string>607617959552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emddi.partner.taxiyenbai</string>
	<key>PROJECT_ID</key>
	<string>emddi-software-2025</string>
	<key>STORAGE_BUCKET</key>
	<string>emddi-software-2025.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607617959552:ios:80258b6051ba06e1264865</string>
</dict>
</plist>
